.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e11a27;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    
}

.chat-container {
    width: 80%; /* Adjust the width as needed */
    max-width: 1000px; /* Limit the maximum width if desired */
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-header {
    background-color: #e11a27;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    background-color: #e1f7d5;
    border-radius: 8px;
    padding: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.bot-message {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.message-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.send-button {
    background-color: #e11a27;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px; 
    cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
}
.user-message {
    text-align: left;
    background-color: #4CAF50; /* Green background for user messages */
    color: white; /* White text for user messages */
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    overflow: auto; /* Allow background to wrap around text */
    display: table; /* Ensure messages stack vertically */
    clear: both
    
}

/* Style for messages sent by others (left-aligned) */
.other-message {
    text-align: right;
    background-color: #ccc; /* Gray background for other messages */
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    overflow: auto; /* Allow background to wrap around text */
    display: table; /* Ensure messages stack vertically */
    clear: both
}

.new-conversation-button {
    background-color: #e11a27;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    margin: 10px; /* Adjust margin as needed */
}

.new-conversation-container {
    display: flex;
    align-items: center;
}
.new-conversation-text {
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
}